BOT_TOKEN=123456:CHANGE_ME
BOT_PARSE_MODE=HTML

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=tgpriem
POSTGRES_USER=tgpriem
POSTGRES_PASSWORD=change_me_strong_password

ARCHIVE_CHAT_ID=-1001234567890

BRAND_CHANNEL_URL=
