# --- BOT CONFIG ---
BOT_TOKEN=8708826989:AAE2THveCPKWLcyGZ21iMESOBgRbTR_92bg
BOT_PARSE_MODE=HTML

# --- POSTGRES ---
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=77712377
POSTGRES_DB=gdpx_bot

# --- REDIS ---
# Внутри Docker: redis://redis:6379/0
REDIS_URL=redis://redis:6379/0

# --- HTTP ---
HTTP_HOST=0.0.0.0
HTTP_PORT=8167

# --- WEBHOOK ---
WEBHOOK_URL=https://gdpx.ru/webhook
WEBHOOK_SECRET_TOKEN=some-very-long-secret-token
WEBHOOK_PATH=/webhook

# --- CHATS & ADMINS ---
MODERATION_CHAT_ID=-1003859937194
ADMIN_TELEGRAM_IDS=8118820086
OWNER_TELEGRAM_IDS=8118820086,7651545773
ALERT_TELEGRAM_CHAT_ID=-1003859937194
ADMIN_ERROR_CHAT_ID=-1003859937194

# --- CRYPTO ---
CRYPTO_PAY_TOKEN=557255:AA3pYN0K9kKL406uYKeruGt4SMY6nRu7nbD
CRYPTO_ASSET=USDT

# --- BRAND & LINKS ---
BRAND_CHANNEL_URL=
BRAND_CHAT_URL=https://t.me/+8uIOkwKFgjJhNjRi
BRAND_PAYMENTS_URL=

# --- SYSTEM ---
ENV=production
LOG_LEVEL=INFO
MAINTENANCE_MODE=false
AUTO_FIX_ENABLED=true
HEALTH_READY_INCLUDE_CRYPTOBOT=false
